<!DOCTYPE html>
<html>
 <body>
    <h1>{{.Title}}</h1>
    <label>{{.Label}}</label>
    <br><br>
    <form method="get">
        <fieldset>
            <legend>sign up</legend>
        <label for="user"> name : </label>
        <input id="user" type="text" name="f-name" required placeholder="mohammad">
        <br><br>
        <label for="family"> family name : </label>
        <input id="family" type="text" name="l-name" required placeholder="sadeghi">
        <br><br>
        <label for="mail"> email : </label>
         <input id="mail" type="email" name="user" required placeholder="example@gmail.com" size="30">
        <br><br>
        <label for="Username"> Username : </label>
        <input id="Username" type="text" name="user" required placeholder="@example">
        <br><br>
        <label for="pass"> password : </label>
        <input id="pass" type="password" name="pass" required placeholder="***********">
        <br><br>
        <input type="submit">
        <input type="reset">
    </fieldset>
    </form>

 </body>
</html>